#Navbar{
    display: flex;
    height: 40px;
    position: static;
    background-color: rgb(105, 117, 127);
    z-index: -1;
    padding: 10px;
    padding-left: 15px;
    align-items: center;
    border-radius: 30px;
   justify-content: space-between;
   color: rgb(39, 13, 13);
   
   #Navbarone{
    display: flex;
    z-index: 1;
    opacity: 1;
    p{
        font-size: 2rem;
        opacity: 1;
        font-weight: 900;
    }
   }

   #Navbartwo{
    display: flex;
    width: 30%;
    justify-content: space-around;

    p{
        font-size: 1.3rem;
        font-weight: 800;
    }
   }
}