#Serve {
  background: rgb(10, 12, 28);
  background: linear-gradient(
    90deg,
    rgba(10, 12, 28, 0.9164915966386554) 0%,
    rgba(27, 54, 110, 1) 0%,
    rgba(110, 87, 136, 0.8800770308123249) 50%,
    rgba(101, 128, 186, 1) 100%
  );
}

#servebg {
  background: rgb(10, 12, 28);
  background: linear-gradient(
    90deg,
    rgba(10, 12, 28, 0.9164915966386554) 0%,
    rgba(23, 46, 94, 1) 0%,
    rgba(36, 17, 57, 0.8800770308123249) 48%,
    rgba(22, 55, 128, 1) 100%
  );
}
